## Day 30 Lecture 2 Assignment

In this assignment, we will learn about random forests. We will use the google play store dataset loaded below.

In [1]:
#df[i].dtype == np.dtype('object')
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
reviews = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/googleplaystore.csv')

reviews.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In this assignment, you will work more independently. Perform the following steps:
    
1. Select which columns are best suited to predict whether the rating is above 4.5
2. Process the data (including transforming to the correct column type, removing missing values, creating dummy variables, and removing irrelevant variables)
3. Create a random forest model and evaluate
4. Using grid search cross validation, tweak the parameters to produce a better performing model
5. Show and discuss your results

Good luck!

In [3]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [4]:
dfdrop = reviews.copy()
dfdrop.dropna(inplace =True)
dfdrop.head()

dfdrop['Price'] = pd.to_numeric(dfdrop['Price'].str.replace('$', ''))
dfdrop['Reviews'] = pd.to_numeric(dfdrop['Reviews'])
# dfdrop['Size'] = dfdrop['Size'].str.replace('M','')
# dfdrop['Size'] = dfdrop['Size'].str.replace('k','')
dfdrop['Size'] = dfdrop['Size'].replace('Varies with device',None)

y = []
for x in dfdrop['Size'].values:
  if x[-1] == 'M':
    y.append(int(pd.to_numeric(x.replace('M',''))*1000000))
  elif x[-1] == 'k':
    y.append(int(pd.to_numeric(x.replace('k',''))*1000))
  else:
    y.append(int(pd.to_numeric(x)))

dfdrop['Size'] = y

In [5]:
#dfdrop['Size'] = pd.to_numeric(dfdrop['Size'])
dfdrop['Installs'] = dfdrop['Installs'].str.replace('+', '')
dfdrop['Installs']= pd.to_numeric(dfdrop['Installs'].str.replace(',',''))
dfdrop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9360 non-null   object
 1   Category        9360 non-null   object
 2   Rating          9360 non-null   float64
 3   Reviews         9360 non-null   int64
 4   Size            9360 non-null   int64
 5   Installs        9360 non-null   int64
 6   Type            9360 non-null   object
 7   Price           9360 non-null   float64
 8   Content Rating  9360 non-null   object
 9   Genres          9360 non-null   object
 10  Last Updated    9360 non-null   object
 11  Current Ver     9360 non-null   object
 12  Android Ver     9360 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 1023.8+ KB

In [24]:
def onehot_numeric_combiner(df, target):
  numeric = []
  dummies = []
  
  
  dfdummies = pd.DataFrame()
  dfnumeric = pd.DataFrame()
  dftarget = df[target]
  
  dummies = [df.columns[i] for i in range(df.shape[1]) if df[df.columns[i]].dtype == 'O']
  numeric = [df.columns[i] for i in range(df.shape[1]) if df[df.columns[i]].dtype == 'int' or df[df.columns[i]].dtype == 'float']
  
  if target in dummies :
    dummies.remove(target)
  else:
    numeric.remove(target)
 
  
  for x in numeric:
    dfnumeric = pd.concat([dfnumeric, df[x]], axis = 1)
  
  for x in dummies:
    dfdummies = pd.concat([dfdummies, pd.get_dummies(df[x])], axis = 1)
  
  return pd.concat([dfdummies,dfnumeric], axis = 1)

In [28]:


def onehot(df, target):
  numeric = []
  dummies = []
  
  
  dfdummies = pd.DataFrame()
  
  dftarget = df[target]
  
  dummies = [df.columns[i] for i in range(df.shape[1]) if df[df.columns[i]].dtype == 'O']
  
  
  if target in dummies :
    dummies.remove(target)
  
 
  
  
  
  for x in dummies:
    dfdummies = pd.concat([dfdummies, pd.get_dummies(df[x])], axis = 1)
  
  return dfdummies
X = onehot_numeric_combiner(dfdrop, 'Rating')
y = np.where(dfdrop['Rating']>4.5, 1,0)

X

,+Download 4 Instagram Twitter,- Free Comics - Comic Apps,.R,/u/app,058.ba,1. FC Köln App,10 Best Foods for You,10 Minutes a Day Times Tables,10 WPM Amateur ham radio CW Morse code trainer,"10,000 Quotes DB (Premium)",...,6.0 and up,7.0 - 7.1.1,7.0 and up,7.1 and up,8.0 and up,Varies with device,Reviews,Size,Installs,Price
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,159,19000000,10000,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,967,14000000,500000,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,87510,8700000,5000000,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,215644,25000000,50000000,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,967,2800000,100000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7,2600000,500,0.0
10836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,38,53000000,5000,0.0
10837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,3600000,100,0.0
10839,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,114,3600000,1000,0.0
10840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,398307,19000000,10000000,0.0

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

RF = RandomForestClassifier(n_estimators=200, max_depth = 5)

RF.fit(X_train, y_train)

RandomForestClassifier(max_depth=5, n_estimators=200)

In [35]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

cross_val_score(RF, X, y, cv=5)

array([0.79540598, 0.79540598, 0.79540598, 0.79487179, 0.79487179])

![alt text](https://)